<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .error-container {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="error-container">
    <h1 class="text-center">Не пытайтесь это сломать</h1>
    <button class="btn btn-primary mt-3" onclick="goBack()">Вернуться назад</button>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>